.login-parent{
 overflow: auto;
}

.potato-box{
    width: 650px;
    height: 500px;
    margin-top: 0px; 
    position: absolute;
    margin-left: 0px;
    margin-top: 25px;
    padding-right: 50px;
    top: 0;
    background-image: url('G:\School\Wallet Wise\wallet-wise-app\wallet-wise-app\src\images\potato-magnifying-glass.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.credentials-box{
    width: 100px;
    height: 50px;
    border-color: black;
    border-style: solid;
    display:flow-root;
 }

 .text-box1{
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    font-family: junge;
 }

 .text-box2{
    width: fit-content;
    height: fit-content;
    font-size: 90px;
    font-family: julius-sans-one;
    margin-left: 120px;
    letter-spacing: 15px;
 }

 .text-box3{
    width: fit-content;
    height: fit-content;
    font-size: 65px;
    font-family: monoton;
    margin-left: 220px;
 }

.main-box{
    width: 650px;
    height: 550px;
    background-color: #F9F2E2;
    padding: 20px;
    margin-left: 650px;
    margin-top: 30px;
}

@font-face{
    font-family: monoton;
    src: url("G:\School\Wallet Wise\wallet-wise-app\wallet-wise-app\src\pages\Login\Fonts\Monoton-regular.woff");
}

@font-face{
    font-family: junge;
    src: url("G:\School\Wallet Wise\wallet-wise-app\wallet-wise-app\src\pages\Login\Fonts\Junge-Regular.woff");
}
@font-face{
    font-family: julius-sans-one;
    src: url("G:\School\Wallet Wise\wallet-wise-app\wallet-wise-app\src\pages\Login\Fonts\JuliusSansOne-Regular.woff");
}

@font-face{
    font-family: source-code-pro;
    src: url("G:\School\Wallet Wise\wallet-wise-app\wallet-wise-app\src\pages\Login\Fonts\SourceCodePro-Bold.woff");
}

input[type="email"]{
    width: 500px;
    height: 61px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 22px;
    margin-left: 80px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}

input[type="password"]{
    width: 500px;
    height: 61px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 22px;
    margin-left: 80px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 15px;
}

button[type="submit"]{
    background-color:#F9F2E2;
    color:black;
    font-family:source-code-pro;
    font-size: 22px;
    border: black;
    border-style: solid;
    margin-left: 250px;
}

a {
    color: black; 
    text-decoration: none; 
    font-family:source-code-pro;
    font-size: 18px;
    margin-left: 233px;
}

.error-message{
    margin-left: 150px;
    font-family: source-code-pro;
    color: red;
}