.forgot-password-body {
  @import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Junge&family=Monoton&family=Source+Code+Pro&display=swap");

  display: flex;
  padding-top: 5%;
  height: 80%;

  .forgot-img-header {
    width: 40%;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .pass-message {
    display: flex;
    justify-content: center;
    font-family: Junge;
    padding-bottom: 2%;
    font-size: 30px;
  }

  .form-control {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

    input {
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
      width: 150%;
      align-self: center;
      height: 60px;
      margin-bottom: 10%;
      font-family: Source Code Pro;
      font-size: 20px;
      &::placeholder {
        text-align: center;
        font-family: Source Code Pro;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        letter-spacing: 2px;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .forgot-body {
    width: 55%;
    background-color: #f9f2e2;
    padding-top: 2%;
  }

  .sending-email-message {
    text-align: center;
    font-family: Source Code Pro;
    font-size: 23.5px;
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .pass-wallet {
    display: flex;
    justify-content: center;
    font-family: Julius Sans One;
    font-weight: 1000 !important;
    font-size: 120px;
    letter-spacing: 20px !important;

    h3 {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }

  .pass-wise {
    display: flex;
    justify-content: center;
    font-family: Monoton;
    font-size: 100px;
    letter-spacing: 10px;
    margin-top: -5%;
    padding-bottom: 2%;
  }

  .login-btn-forgot {
    display: flex;
    justify-content: center;
    padding-top: 1%;
  }

  button {
    background-color: transparent;
    color: black;
    border: 1px solid black;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #ff93ad;
    font-family: Source Code Pro;
    font-weight: 800;
    font-size: 25px;
    &:hover {
      background-color: #ff93ad;
      border: 1px solid #f9f2e2;
    }
  }

  .forgot-message {
    text-align: center;
    font-family: Source Code Pro;
    font-size: 21px;
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .forgot-error-message {
    color: red;
    font-family: Source Code Pro;
    margin-top: -3%;
    text-align: center;
  }

  .forgot-submit {
    width: 50%;
  }
}
