@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Junge&family=Monoton&family=Source+Code+Pro&display=swap");

.signup-parent {
  overflow: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
  width: 100%;

  .signup-text {
    top: 0;
  }

  button {
    top: 0;
    border-radius: 10px;
    font-family: Source Code Pro;
    font-weight: 800;
  }

  .signup-submit {
    top: 0;
  }

  label {
    top: 0;
  }

  input {
    z-index: 2;
  }
}

.signup-map {
  z-index: 1;
  button {
    background-color: transparent;
    padding: 15px 32px;
    border: 1px solid rgba(233, 78, 115, 0.6);
    margin-top: 810px;
    margin-left: 860px;
    z-index: 999999999999;
    &:hover {
      background-color: rgba(233, 78, 115, 0.6);
    }
  }

  .open-map {
    margin-bottom: 100px;
  }

  .map-close-button {
    button {
      margin-top: 0;
      margin-left: 0;
    }
  }
}

.signup-email {
  width: 650px;
  height: 70px;
  padding: 10px;
  margin: 5px 0;
  margin-left: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 30px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 250px;
}

.signup-password {
  width: 650px;
  height: 70px;
  padding: 10px;
  margin: 5px 0;
  margin-left: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 30px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 250px;
}

.signup-text {
  width: 650px;
  height: 70px;
  padding: 10px;
  margin: 5px 0;
  margin-left: 150px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 30px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
  top: 250px;
}

.signup-form {
  width: 51%;
  //   height: 91%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 800px;
  background-color: #f9f2e2;
  position: absolute;
  margin-top: 25px;
}

label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  position: relative;
  top: 255px;
  font-family: Source Code Pro;
  font-size: 22px;
}

.signup-txtbox {
  display: flexbox;
  height: fit-content;
  width: 100%;
}

.signup-txtbox1 {
  text-align: center;
  font-size: 30px;
  font-family: Junge;
}

.signup-txtbox2 {
  text-align: center;
  font-size: 100px;
  font-family: Julius Sans One;
  letter-spacing: 15px;
}

.signup-txtbox3 {
  text-align: center;
  font-size: 80px;
  font-family: Monoton;
  bottom: 40px;
}

.text-box {
  height: 10px;
  width: 500px;
}

button[type="signup-submit"] {
  background-color: #f9f2e2;
  color: black;
  font-family: Source Code Pro;
  font-size: 33px;
  border: rgba(233, 78, 115, 0.6);
  border-style: solid;
  margin-left: 375px;
  position: relative;
  top: 250px;
}

button[type="signup-submit"]:hover {
  background-color: rgba(233, 78, 115, 0.6);
  border-color: black;
}

.potato-box {
  height: 800px;
  width: 700px;
  position: absolute;
  margin-top: 50px;
  padding-right: 70px;
  background-image: url("../../images/potato_signup.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

.error-message {
  margin-left: 310px;
  font-family: Source Code Pro;
  color: red;
  position: relative;
  top: 120px;
}

.success-message {
  margin-left: 310px;
  font-family: Source Code Pro;
  color: black;
  position: relative;
  top: 250px;
  left: 85px;
}
