.signup-parent{
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

input[type="signup-email"]{
    width: 650px;
    height: 70px;
    padding: 10px;
    margin: 5px 0;
    margin-left: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 30px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 250px;
}

input[type="signup-password"]{
    width: 650px;
    height: 70px;
    padding: 10px;
    margin: 5px 0;
    margin-left: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 30px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 250px;
}

input[type="signup-text"]{
    width: 650px;
    height: 70px;
    padding: 10px;
    margin: 5px 0;
    margin-left: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 30px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: relative;
    top: 250px;
}

.signup-form{
    width: 51%;
    height: 91%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 800px;
    background-color: #F9F2E2;
    position: absolute;
    margin-top: 25px;
}

label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    position: relative;
    top: 255px;
    font-family:source-code-pro;
    font-size: 22px;
}

.text-box{
    height: 10px;
    width: 500px;
}

button[type="signup-submit"]{
    background-color:#F9F2E2;
    color:black;
    font-family:source-code-pro;
    font-size: 33px;
    border: rgba(233, 78, 115, 0.6);;
    border-style: solid;
    margin-left:375px;
    position: relative;
    top:250px;
}

button[type="signup-submit"]:hover{
    background-color: rgba(233, 78, 115, 0.6);
    border-color: black;
}

.potato-box{  
    height: 800px;
    width: 700px;
    position: absolute;
    margin-top: 50px;
    padding-right: 70px;
    background-image: url('/src/images/candy-potato.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

.error-message{
    margin-left: 310px;
    font-family: source-code-pro;
    color: red;
    position: relative;
    top: 120px;
}

